extends layout

block content
  h1= classe.titulo
  p 
    b Código: 
    span= classe.codigo
  p 
    b Estado: 
    span= classe.status
  p 
    b Descrição: 
    span= classe.descricao

  if Object.keys(classe.pai).length > 0 
    p
      b Pai:
      span= classe.pai.titulo
      

  if Object.keys(classe.filhos).length > 0 
    p 
      b Filhos: 
    ul
      - var i = 1
      each filho in classe.filhos 
        li 
          b Filho #{i}
          - i=i+1
          p Título: #{filho.titulo}
          p Código: 
            a(href="/" + filho.codigo)= filho.codigo
          p Estado: #{filho.status}

  if classe.nivel == "3"
    if Object.keys(classe.processosRelacionados).length > 0 
      h4 Processos Relacionados:
      ul
        - var i = 1 
        each relacao in classe.processosRelacionados
          if (relacao.idRel == "eComplementarDe" || relacao.idRel == "eCruzadoCom" ||relacao.idRel == "eSuplementoDe" ||relacao.idRel =="eSuplementoPara")
            li 
              b Processo #{i}
              if (relacao.idRel == "eComplementarDe")
                p 
                  b Relação: 
                  span Processo Complementar 
              else if (relacao.idRel == "eCruzadoCom") 
                p 
                  b Relação: 
                  span Processo cruzado
              else if (relacao.idRel == "eSuplementoDe")
                p 
                  b Relação: 
                  span Processo suplementar de 
              else if (relacao.idRel == "eSuplementoPara")
                p 
                  b Relação: 
                  span Processo suplementar para
              - i=i+1
              p Título: #{relacao.titulo}
              p Código: 
                a(href= "/" + relacao.codigo)= relacao.codigo
              p Estado: #{relacao.status}
                        
  p 
    a(href= "/" + classe.pai.codigo) Voltar à Página Anterior 
    
  p
    a(href="/") Voltar à Página Principal