extends layout

block content      
    .centerCard()
        h2.w3-center(style="color: black;") 
            b Lista de Recursos
        a.w3-btn.w3-right.w3-round-medium.w3-margin-bottom(href='/recurso/add' style="background-color:#527F52;color:white") Novo 
        div.dropdown(style="float:left; padding-left:10px;")
          button.w3-btn.w3-right.w3-round-medium.w3-margin-bottom(href='/recurso/add' style="background-color:#d4ad28;color:white") Filtrar por tipo
            div.dropdown-content
              a(href='/') Todos
              a(href='/tipo/0') Slides
              a(href='/tipo/1') Exame
              a(href='/tipo/2') Manual
              a(href='/tipo/3') Relatório
              a(href='/tipo/4') Tese
        form.w3-container.w3-left( method='GET' action='/recursos/search')
          input(type="text" placeholder="Search.." name="search")
          button(type="submit")
            i.fa.fa-search
        if files.length > 0
          table.w3-table-all.w3-hoverable.w3-round-medium
              tr(style="    background-color: #527F52!important;color: white;")
                  th Nome 
                  th Autor
                  th Submetido por 
                  th Descrição 
                  th Data de Submissão
                  th Data de Criação
                  th(style="width: 1%;")
              - var i = 0
              each f in files
                  tr(onclick="pageRedirectFile('"+ f._id +"')")
                      td #{f.name}
                      td #{f.producer}
                      td #{f.user}
                      td #{f.desc}
                      td #{dtsubm[i]}
                      td #{dCriacao[i]}
                      - i=i+1
                      td(style="width: 1%;")
                          form.w3-container(class='w3-container' method='POST' action='/api/recursos/' + f._id)
                              button.w3-btn.w3-round-large.w3-right
                                  input.w3-input.w3-pink(type="submit" value = 'X')
                      

        else
            .w3-container.w3-center
                p Não há ficheiros a listar
      
